* {
  background-color: rgb(32, 128, 128);
  text-align: center;
  margin: 0;
  padding: 0;
}

ul,li{
  list-style: none;
}
ul{
  margin:25px auto 0;
  width: 200px;
}
li {
  background: rgb(20, 95, 95);
  margin: 10px 0 0 0;
}
li span{
  background: rgb(20, 95, 95);
  color:red;
}

.App {
  color:#fff;
  margin: 100px 0 0 0;
}

input{
  width: 200px;
  margin: 15px auto 0;
  color: #fff;
  border: solid 2px #454545;
}
h2{
  font-size: 45px;

}
h3{
  font-size: 30px;
  margin:20px 0 0 0;
}